




$blue: #6cb8ea;
$red: #ff5959;
$green: #49e0d1;
$yellow:#e1f549;




$menu-gray-dark: #3D3A37;
$menu-gray-light: #43403D;




$gradient: linear-gradient(110deg,#e1f549,#29d0be,#6cb8ea,#ff5959);

$border-light: 1px solid rgba(#eee, .2);


$card-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);