@import '../../Styles/package';

@keyframes iconPopUp {
    0%{
        transform: translateY(150%);
        opacity: 0;;
    
    }
    100%{ 
        transform: translateY(0);
        opacity: 1;
    }   
}

.home-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .links {    
        padding: 20px 0;
        // height: 20px;
        // border: 1px solid red;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;


        &__link {
            cursor: pointer;
            color: #fff;
            font-size: 3em;
            animation: iconPopUp .5s ease-in;
            animation-delay: 1s;
            animation-fill-mode: backwards;
            transition: .1s ease-in-out;
            &:hover {


                transform: translateY(-5px);
                
                
                &.first { color:$yellow}
                &.second { color: $green }
                &.third { color: $blue }
                &.fourth { color: $red}
                
            }
        }


    }


    .logo {
        &__name {
            color: #fff; 
            font-size: 5em;
            font-weight: bold;
            line-height: 1em;
            @include breakpoint(mobile) {font-size: 3em;}
            
        }

        &__subtitle {
            color: #222; 
            font-size: 3em;
            font-weight: bold;
            text-align: right;
            line-height: 1em;
            @include breakpoint(mobile) {font-size: 1.5em;}
            @include textOutline(#fff);
        }

        &__grad-bar {
            // border: 1px solid red;
            height: 20px;
            width: 100%;
            position: relative;
            // background: $gradient;
            // border-radius: 10px;
            display: flex;
            justify-content: center;


            &:before {
                content: '';
                position: relative;
                height: 5px;
                width: 100%;
                background: $gradient;
                // border-radius: 10px;s
                // border: 1px solid red;
            }
            
        }

        &__ball-bar {
            // border :1px solid red;
            height: 20px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 5px;


            .ball {
                @include circle(20px);
                background-color: #fff;
                &:nth-child(1) { background-color: $yellow;}
                &:nth-child(2) { background-color: $green;}
                &:nth-child(3) { background-color: $blue;}
                &:nth-child(4) { background-color: $red;}
            }

        }




    }




    .caution-sign {
        background-color: $yellow;
        height: 200px; width: 400px;
        margin-top: 50px;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0px 7px 10px rgba(black, 0.5);
        cursor: not-allowed;
        .top-row {
                color: $yellow;
                text-align: center;
                font-size: 2em;
                font-weight: bold;
                text-transform: uppercase;
                background-color: #222;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
        }
        .bottom-row {
            font-size: 2em;
            text-align: center;
            font-weight: bold;
            margin-top: 20px;
            text-transform: capitalize;
        }

    }


}
