@import '../../../../Styles/package';


.home__sidebar {

    background-color: $menu-gray-dark;
 

    color: #fff;

    .user {
        // border: 1px solid red;
        height: 100%;
        display: flex;
        padding: 0 20px;
        // justify-content: center;
        align-items: center;
        // flex-direction: column;

        &__name {
            font-weight: 700;
            
        }
        &__email {
            font-size: .8em;
            font-weight: 600;
            opacity: .6;
        }
    }

    .memoji__icon {
        @include circle (60px);
        // border :1px solid red;
        background-color: lightblue;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;

        img {
            height:110%;

        }
    }



}